*{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}
body{
    background-color: #250057;
}
.passwordBox{
    position : absolute;
    width : 300px;
    top : 50%;
    left : 50%;
    transform : translate(-50%, -50%);
    display : flex;
    align-items: center;
    justify-content: center;
}
#password{
    padding : 15px;
    width : 250px;
    font-size : 1rem;
    border : 0;
    border-radius : 10px;
    outline : 0;
}

#image{
    cursor : pointer;
    height : 20px;
    width : 26px;
    position : absolute;
    left : 80%;
}